{% extends 'base.html.twig' %}

{% block title %}Ajouter un programme
{% endblock %}

{% block body %}
	<h1>Ajouter un programme</h1>


	<form action="" method="post">
		<div class="form-floating mb-3">
			<input type="text" required="required" name="title" placeholder="Titre du film" class="form-control">
			<label class="form-label required">Titre</label>
		</div>
		<div class="d-flex justify-content-end mb-3">
			<input type="submit" value="Rechercher" href="{{ path('app_production_new') }}" class="btn btn-primary">
		</div>
	</form>

	{% if searchResults is defined %}
		{# <div class="row row-cols-1 row-cols-md-2 g-4"> #}
		{% for searchResult in searchResults %}
			<div class="col">
				<div class="card mb-3">
					<div class="row g-0">
						<div class="col-md-4">
							{% if searchResult.poster_path is not empty %}
								<img src="{{ searchResult.poster_path }}" class="img-fluid rounded-start" alt="...">
							{% else %}
								<img src="https://via.placeholder.com/600x900" class="img-fluid rounded-start" alt="...">
							{% endif %}
						</div>
						<div class="col-md-8 d-flex flex-column align-content-between">
							<div class="card-body">
								<h5 class="card-title">{{ searchResult.title }}</h5>
								<h6 class="card-subtitle mb-2 text-muted">{{ searchResult.original_title }}</h6>
								{% if searchResult.summary|length > 191 %}
									<p class="card-text">{{ searchResult.summary|slice(0,192) }}
										[...]</p>
								{% else %}
									<p class="card-text">{{ searchResult.summary }}</p>
								{% endif %}
								<p class="card-text">
									<small class="text-muted">
										{% if searchResult.media_type == 'tv' %}
											<i class="bi bi-tv"></i>
											Série
										{% elseif searchResult.media_type == 'movie' %}
											<i class="bi bi-film"></i>
											Film
										{% else %}
											<i class="bi bi-question-lg"></i>
											Inconnu
										{% endif %}
										<span>
											|
										</span>
										{{ searchResult.release_date|date('Y') }}
										<span>
											|
										</span>
										{{ searchResult.country }}
									</small>
								</p>
							</div>
							<form action="{{ path('app_production_add') }}" method="post">
								<input type="hidden" name="selected_production[title]" value="{{ searchResult.title }}">
								<input type="hidden" name="selected_production[original_title]" value="{{ searchResult.original_title }}">
								<input type="hidden" name="selected_production[imdb_id]" value="{{ searchResult.imdb_id }}">
								<input type="hidden" name="selected_production[media_type]" value="{{ searchResult.media_type }}">
								<input type="hidden" name="selected_production[summary]" value="{{ searchResult.summary }}">
								<input type="hidden" name="selected_production[poster_path]" value="{{ searchResult.poster_path }}">
								<input type="hidden" name="selected_production[media_type]" value="{{ searchResult.media_type }}">
								<input type="hidden" name="selected_production[release_date]" value="{{ searchResult.release_date }}">
								<input type="hidden" name="selected_production[country]" value="{{ searchResult.country }}">
								<input type="hidden" name="selected_production[tmdb_id]" value="{{ searchResult.tmdb_id }}">
								<div class="d-flex justify-content-end" style="padding: 16px;">
									<input type="submit" value="Selectionner" href="{{ path('app_production_add') }}" class="btn btn-primary">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		{# </div> #}
	{% endif %}
{% endblock %}
